[Desktop Entry]
Name=skijump
Comment=Ski jumping simulation game
Comment[pl]=Symulacja skoków narciarskich
Exec=skijump
Terminal=false
Type=Application
Categories=Game;SportsGame;
# vi: encoding=utf-8
